*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: rgb(27, 27, 27);
    height: 80px;
    width: 100%;
}
h1{
    color:white;
    position: absolute;
    left:5vw;
    top:0;
    line-height: 80px;
}
header a{
    color:white;
    text-decoration: none;
}
header ul{
    position: absolute;
    right:5vw;
    top:0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}





.mainmainmain{
    background-color: blanchedalmond;
    color: white;
    height: 95vh;
    width: 100%;
    background-image: url("https://gss0.baidu.com/-vo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/ac4bd11373f082025f31436048fbfbedaa641bc9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mainmainmain h2{
    font-size: 50px;
    position: absolute;
    top: 100px;
}

.ulul{
    display: flex;
}
.ulul ul{
    margin-right: 10vw;
    line-height: 50px;
    list-style-type: none;
}

.mainmainmain a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.mainmainmain button{
    font-size: 20px;
    width: 100px;
    height: 40px;    
    background-color: rgb(255, 255, 255,0.05);
    color: #fff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 30px;
    padding: 10px;
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    font-weight: 400px;
    z-index: 1;
    transition: 0,5s;
}
[type="range"]{
    -webkit-appearance: none;
    appearance: none;
    margin: 0%;
    outline: 0%;
    background-color: rgba(135, 110, 202, 0);
    color: rgb(135, 110, 202);
    width: 50vw;
}
[type="range"]::-webkit-slider-runnable-track{
    height: 4px;
    background: rgba(51, 29, 109, 0.3);
}
[type="range"]::-webkit-slider-container{
    height: 20px;
    overflow: hidden;
}
[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(135, 110, 202);
    border:1px splid transparent;
    margin-top: -8px;
    cursor: pointer;
}
/*¶¯»­²¿·Ö
.mainmainmain button:hover{
    letter-spacing: 3px;
}
.mainmainmain button:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background-color: rgba(255, 255, 255,0.5);
    transform: skewX(45deg) translateX(0);
    transition: 0.5s;
    pointer-events: none;
}
.mainmainmain button:hover::before{
    transform: skewX(45deg) translateX(200px);
}
*/
.mainmainmain span{
    color: rgb(135, 110, 202);
    font-size: 35px;
    position: relative;
    left: 35px;
}


footer{
    background-color: rgb(27, 27, 27 );
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color:white;
    text-decoration: none;
}
footer a{
    color:rgb(135, 110, 202);
}